@import '../../aui_variables';


// Breakpoints
// -------------------------
$bp-xsmall : 600px;
$bp-small : 800px;
$bp-medium : 1000px;
$bp-large : 1199px;

// Breakpoint height
$bp-height-xsmall : 600px;
$bp-height-small : 800px;
$bp-height-medium : 1000px;
$bp-height-large : 1400px;


// Colors - contansts
// -------------------------


// B&W
$gb-white:        #fff;
$gb-black: 		    #000;

// Blues
//$gb-blue:         #327cb4;
$gb-blue:         #025296;
$gb-mirage:       #18272e;
$gb-catskill-white: #eef1f6;

$gb-linkwater: #d9edf7;

$gb-geyser: #d4dfe2;

// Greens
$gb-green: #5e9237;

// Reds
$gb-red: #ca0000;

// Grayscale
$gb-mineshaft:	#222;
$gb-tundora:		#444;
$gb-emperor:		#555;
$gb-graydove:		#666;
$gb-boulder:		#777;
$gb-graydusty:	#999;
$gb-silver:		  #ccc;
$gb-alto:		    #ddd;
$gb-gallery:		#eee;
$gb-wildsand:   #f4f4f4;

$gb-bombay: #afb1b8;


// Colors
// -------------------------
$bg:					     $gb-white;
$text-color:	     $textColor; //From _aui_variables

$heading-color:	   $gb-mineshaft;

$link-color:		   $linkColor; //From _aui_variables
$link-hover-color: $linkColorHover; //From _aui_variables

// Fonts
// -------------------------
$base-font-size: 	$baseFontSize; //From _aui_variables
$base-line-height:	$baseLineHeight; //From _aui_variables
$base-font-weight:	400;

$font-family-standard: 'Lato', Helvetica, Arial,sans-serif;

// Selector, Size, Font Weight, Letter Spacing

$font-list: (
  h1	28px 	400	normal	$heading-color,
  h2	24px	400	normal	$heading-color,
  h3	20px  400	normal	$heading-color,
  h4	18px	400	normal	$heading-color,
  h5	18px  400	normal	$heading-color,
  h6	18px 	400	normal	$heading-color
);

$font-weight-normal: 		normal;
$font-weight-bold:			bold;
$font-weight-light: 		200;
$font-weight-ultralight: 	100;

// Padding and sizes
// -------------------------

$default-border-radius:		3px; //Compass named default variable.

// Content (font-awesome)
// -------------------------

$content-arrow-left: "\f060";
$content-arrow-right: "\f061";
$content-arrow-up: "\f062";
$content-arrow-down: "\f063";
$content-long-arrow-left: "\f177";
$content-long-arrow-right: "\f178";
$content-long-arrow-up: "\f176";
$content-long-arrow-down: "\f175";

$content-caret-down: "\f0d7";
$content-caret-up: "\f0d8";
$content-caret-left: "\f0d9";
$content-caret-right: "\f0da";


$content-bars: "\f0c9";

$content-chevron-left: "\f053";
$content-chevron-right: "\f054";
$content-chevron-up: "\f077";
$content-chevron-down: "\f078";

$content-icon-step-backward: "\f048";
$content-icon-step-forward: "\f051";

$content-icon-unsorted: "\f0dc";
$content-icon-sort-asc: "\f0de";
$content-icon-sort-desc: "\f0dd";

$content-minus-sign: "\f068";
$content-plus-sign: "\f067";

$content-check: "\f00c";
$content-check-circle: "\f058";
$content-check-square: "\f14a";
$content-cog: "\f013";
$content-database: "\f1c0";
$content-envelope: "\f0e0";
$content-envelope-o: "\f003";
$content-exclamation-triangle: "\f071";
$content-home: "\f015";

$content-link: "\f0c1";
$content-search: "\f002";
$content-sign-in: "\f090";
$content-sign-out: "\f08b";
$content-spinner: "\f110";
$content-user: "\f007";
$content-users: "\f0c0";

//$content-file-o: "\f016";
$content-pencil-square-o: "\f044";

$content-bar-chart: "\f080";

// Transitions
// -------------------------

$default-transition-time: 0.3s;

// Other
// -------------------------
$grid-background-baseline-color: rgba(255, 0, 0, 0.5); //DEBUG
