
button,
input[type="submit"],
input[type="button"],
input[type="cancel"] {

  background: $gb-white;
  border: 1px solid $gb-mineshaft;
  color: $gb-mineshaft;
  display: inline-block;
  padding: 0.5em 1.5em;
  text-transform: uppercase;

  @include border-radius();

  &:hover {
    background: $gb-mineshaft;
    color: $gb-white;
  }

  &:active {
    background: $gb-mineshaft;
    color: $gb-white;
  }

  &.primary {
    background: $gb-mineshaft;
    color: $gb-white;

    &:hover {
      background: $gb-white;
      color: $gb-mineshaft;
    }

    &:active {
      background: $gb-white;
      color: $gb-mineshaft;
    }
  }

  &.cancel {
    background: transparent;
    border-color: transparent;
    color: $gb-mineshaft;

    &:hover {
      background: transparent;
      color: $gb-mineshaft;
      text-decoration: underline;
    }

    &:active {
      background: transparent;
      color: $gb-mineshaft;
      text-decoration: underline;
    }
  }



}
