.gb-table-filter {

  @include flexbox();

  input,
  select {
    margin: 0;
    width: 100%;
    @include flex(1);
  }

  input[type="text"] {
    &.ui-state-default,
    &.ui-state-hover {
      background: $gb-white;
      border: 1px solid $gb-silver;
      @include border-radius(0);
      @include box-shadow(none);
    }
  }

  .ui-selectonemenu {
    width: 100%;
    @include flex(1);
  }

}
