.grant-section {

  margin: 0;
  padding: 0.3em 0;

  .grant-section-output {
    padding-right: 70px;
    position: relative;

    // Start test
    background: $gb-gallery;
    background: tint($gb-linkwater, 60);
    border: 1px solid tint($gb-linkwater, 20);
    padding: 0.5em;
    @include border-radius(2px);
    // End test

    .grant-section-label {
      color: $gb-emperor;
      display: inline-block;
      //font-weight: bold;
      width: 150px;
    }

    .grant-section-data {
      display: inline-block;
    }

    .grant-section-back {
      bottom: 0;
      position: absolute;
      right: 0;
      top: 0;

      // Start test
        right: 0.5em;
        top: 0.5em;
      // End test

      &:after {
          @include iconfont();
          clip: rect(0 0 0 0);
          color: $gb-boulder;
          content: $content-long-arrow-left;
          display: inline-block;
      }

    }

  }



}
