.msg-wrap {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 5px 0;

      &:last-child {
        margin: 0;
      }
    }
  }

}

.gb-tabs {
  .msg-wrap {
    margin-bottom: 1em;
  }
}
