.top-bar {
  background: $gb-mirage;
  color: $gb-white;
  padding: 1em;
  padding: 0.4em 1em;

  h1 {
    color: $gb-white;
    font-size: 0.9em;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
  }

}
